@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-jp.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: "Pretendard JP", "Pretendard";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;


  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --gray: #313244;
  --black: #1e1e2e;
  --primary: #a6e3a1;
}

html,
body {
  background: transparent;
  /* background-color: rgba(0, 7, 68, 0); */
}

@media (width < 500px) {
  html, body {
    background: #313244 !important;
  }

  body {
    height: 120vh !important;
    overflow: hidden;
  }

  main {
    gap: 0px !important;
    align-items: center;
    flex-direction: column;
  }

  #search {
    display: none !important;
  }

  #musics {
    overflow: scroll;
    height: calc(100dvh - 357px - 65px - 50px) !important;
  }
  #music > div > h1 {
    display: -webkit-box;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 30px;
    overflow: hidden;
    
  }
  #music > div:last-child { 
    display: none !important;
  }
}

body {
  --padding: 20px;
  padding: var(--padding) !important;
}

main {
  display: flex;
  gap: 40px;
  width: 100%;
}

b {
  font-weight: 900;
}

p {
  color: var(--primary)
}

#greet {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  height: fit-content;
  max-height: 80vh;
  overflow: hidden;
  border-radius: 4px;
}

#search {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--black);
  color: #fff;
  border: 0;
  font-size: 14px;
}

#musics {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  padding: 12px;
  min-height: 0;
  height: fit-content;
  height: 80vh;
  background-color: var(--black);
  overflow: scroll;
}

#music {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    word-break: break-word;
    gap: 8px;
    > h1 {
      font-size: 24px;
      font-weight: 500;
    }
    margin-bottom: 80px;
    > img {
      width: 240px;
      border-radius: 4px;
    }
  }
  > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    height: 30px;
    border-radius: 4px;
    opacity: 0;
    transition: all .3s;
    &:hover {
      opacity: 1;
    }
  }
}
#bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: calc(100% - var(--padding) * 2);
  padding: 8px;
  bottom: var(--padding);
  border-radius: 4px;
  background-color: var(--black);
  > input {
    width: 100%;
  }
  > div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  
    > svg {
      cursor: pointer;
      width: 16px;
      transition: all .1s;
      &:active {
        transform: scale(0.92);
      }
    }
    > img {
      cursor: pointer;
      width: 16px;
      &:nth-child(3){
        width: 24px;
      }


      transition: all .1s;
      &:active {
        transform: scale(0.92);
      }
      &.rev-x:active {
        transform: scaleX(-0.92) scaleY(0.92);  
      }
    }
  }
}



#status-change {
  /* transform: all .3s;
  &:active {
    transform: scale(0.92);
  } */
}

.music {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .5s;
  &:hover{
    transform: scale(1.02);
  }
  > div {
    display: flex;
    width:  calc(100% - 20px);
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  > svg {
    width: 20px;
    height: 20px;
  }
  > div > img {
    
    width: 44px;
    border-radius: 2px;
  }
}


.rev-x {
  transform: scaleX(-1)
}

.rev-y {
  transform: scaleY(-1)
}

::-webkit-scrollbar {
  display: none;
}